<nav class="navbar navbar-expand-lg navbar-dark docs-navbar-header mat-elevation-z6" style="background-color: #0277bd;">
    <a class="navbar-brand" routerLink="/">Expense Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/add">Claim Expense</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/search">View Expense</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/update">Update Expense</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/delete">Delete Expense</a>
        </li>
      </ul>
    </div>
  </nav>
  